.WinLogo {
  margin-top: 86vh;
  position: absolute;
  padding: 0;
  z-index: 4000;
}

.WPISmall {
  margin-top: 86vh;
  position: absolute;
  padding: 0;
  z-index: 4000;
  display: none;
}

.Header{
  position: absolute;
  margin-top: 5px;
  margin-left: 100px;
  z-index: 4000;
}

#Externallink {
  position: absolute;
  margin-top: 25px;
  margin-left: 95%;
  background-color: white;
  height: 30px;
  width: 30px;
  z-index: 4000;
}


@media only screen and (max-width: 600px) {
  .Header { display: none}
  .WinLogo { display: none }
  #Externallink {
    position: absolute;
    margin-top: 25px;
    margin-left: 85%;
    background-color: white;
    height: 30px;
    width: 30px;
    z-index: 4000;
  }
  .WPISmall { display: block}

}
